@font-face {
  font-family: "Zilla Slab";
  src: url("ZillaSlab-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src: url("ZillaSlab-SemiBold.woff") format("woff");
  font-weight: bold;
}

.merriamswebpage-bookicon {
  width: 1em;
  height: 1em;
  position: absolute;
  background-color: white;
  z-index: 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@supports (backdrop-filter: blur(4px)) {
  .merriamswebpage-container {
    backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.45);
  }
}

@supports not (backdrop-filter: blur(4px)) {
  .merriamswebpage-container {
    background: rgba(255, 255, 255, 0.8);
  }
}

.merriamswebpage-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: medium;
  cursor: move;
  position: absolute;
  z-index: 9999;
  max-width: 30%;
  color: black;
  backdrop-filter: blur(4px);
  border: solid black 1px;
  border-radius: 3px;
  padding: 5px 20px 20px 20px;
}

.merriamswebpage-container span {
  font-size: x-large;
  padding-left: 0.3em;
}

.merriamswebpage-container span > a > svg {
  font-size: inherit;
  width: 0.7em;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.merriamswebpage-container dl {
  cursor: auto;
  margin: 0;
}

.merriamswebpage-container dt {
  font-family: Zilla Slab;
  font-weight: bold;
  font-size: x-large;
  display: inline;
}

.merriamswebpage-container dl dd {
  margin: 0 0 0 1em;
}

.merriamswebpage-container dl dd > b {
  margin-right: 1em;
}
